<footer id="colophon" class="site-footer" role="contentinfo">
  <div class="site-info">
    <div class="footertext">
      <div class="img-preload">
        <img src="https://cdn.jsdelivr.net/gh/honjun/cdn@1.6/img/other/wordpress-rotating-ball-o.svg">
        <img src="https://cdn.jsdelivr.net/gh/honjun/cdn@1.6/img/other/disqus-preloader.svg">
      </div>
    </div>
    <div class="github-badge">
      <a style="color: #fff" rel="license" href="https://hexo.io/" target="_blank" title="由 Hexo 强力驱动">
      <span class="badge-subject">Powered</span><span class="badge-value bg-blue">Hexo</span></a>
    </div>
    <div class="github-badge">
      <a style="color: #fff" rel="license" href="https://github.com/" target="_blank" title="静态网页托管于 GitHub Pages 和 Coding Pages">
      <span class="badge-subject">Hosted</span><span class="badge-value bg-brightgreen">GitHub & Coding</span></a>
    </div>
    <div class="github-badge">
      <a style="color: #fff" rel="license" href="https://www.aliyun.com/" target="_blank" title="阿里云提供域名相关服务">
      <span class="badge-subject">DNS</span><span class="badge-value bg-blueviolet">Aliyun</span></a>
    </div>
    <div class="github-badge">
      <a style="color: #fff" rel="license" href="https://www.jsdelivr.com/" target="_blank" title="jsDelivr 提供 CDN 加速服务">
      <span class="badge-subject">CDN</span><span class="badge-value bg-orange">jsDelivr</span></a>
    </div>
    <div class="github-badge">
        <a style="color: #fff" rel="license" href="https://github.com/honjun/hexo-theme-sakura" target="_blank" title="站点使用 Sakura 主题">
      <span class="badge-subject">Theme</span><span class="badge-value bg-blue">Sakura</span></a>
    </div>
    <div class="github-badge">
      <a style="color: #fff" rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank" title="本站点采用知识共享署名-非商业性使用-相同方式共享 4.0 国际许可协议进行许可">
      <span class="badge-subject"><i class="fa fa-copyright"></i></span><span class="badge-value bg-lightgrey">BY-NC-SA 4.0</span></a>
    </div>
    <div class="github-badge">
      <a style="color: #fff" rel="license" href="https://996.icu/" target="_blank" title="支持 996.ICU">
      <span class="badge-subject">Link</span><span class="badge-value bg-firebrick">996.ICU</span></a>
    </div>
    <script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
    <div class="github-badge">
      <span class="badge-subject">UV</span><span class="badge-value bg-orange" id="busuanzi_value_site_uv"></span>
    </div>
    <div class="github-badge">
      <span class="badge-subject">PV</span><span class="badge-value bg-brightgreen" id="busuanzi_value_site_pv"></span>
    </div>
      <!--<p id="footer-sponsor">
        <a href="https://www.aliyun.com/" target="_blank"><img src="https://cdn.jsdelivr.net/gh/TRHX/CDN-for-love109.cn@2.0.8/images/logo/aliyun.png" style="height:2em; padding:0 15px 0 0;" title="阿里云提供域名相关服务" alt="阿里云"></a>
        <a href="https://www.baidu.com/" target="_blank"><img src="https://cdn.jsdelivr.net/gh/TRHX/CDN-for-love109.cn@2.0.8/images/logo/baidu.png" style="height: 2.3em; padding:0 15px 0 0;" title="百度提供搜索、统计相关服务" alt="百度"></a>
        <a href="https://www.google.com/" target="_blank"><img src="https://cdn.jsdelivr.net/gh/TRHX/CDN-for-love109.cn@2.0.8/images/logo/google.png" style="height: 2em; padding:0 15px 0 0;" title="Google 提供搜索、统计相关服务" alt="Google"></a>
        <a href="https://www.jsdelivr.com/" target="_blank"><img src="https://cdn.jsdelivr.net/gh/TRHX/CDN-for-love109.cn@2.0.8/images/logo/JSDELIVER.png" style="height: 2em; padding:0 15px 0 0;" title="jsDelivr 提供 CDN 加速服务" alt="jsDelivr"></a>
        <a href="https://hexo.io/" target="_blank"><img src="https://cdn.jsdelivr.net/gh/TRHX/CDN-for-love109.cn@2.0.8/images/logo/hexo.png" style="height:2em; padding:0 15px 0 0;" title="网站由 Hexo 强力驱动" alt="Hexo"></a>
        <a href="https://coding.net/" target="_blank"><img src="https://cdn.jsdelivr.net/gh/TRHX/CDN-for-love109.cn@2.0.8/images/logo/coding.png" style="height:2em; padding:0 15px 0 0;" title="Coding Pages 提供托管服务" alt="coding"></a>
        <a href="https://github.com/" target="_blank"><img src="https://cdn.jsdelivr.net/gh/TRHX/CDN-for-love109.cn@2.0.8/images/logo/github.png" style="height: 2em;" title="GitHub Pages 提供托管服务" alt="github"></a><br>
      </p>-->
    <div class="footer-info">
      <p style=" margin-bottom: 1.0em; font-family: 'Ubuntu', sans-serif;">
        Copyright <i class="fa fa-copyright"></i> 2019 - <%= date(new Date(), 'YYYY') %> <a href="https://www.love109.cn/" target="_blank" style="text-decoration:none;" onmouseover="this.style.cssText='color:#000000; text-decoration:none;'" onmouseout="this.style.cssText='color:#666666;text-decoration:none'">纪实小屋</a>&nbsp;&nbsp;|&nbsp;
        <img src="https://cdn.jsdelivr.net/gh/TRHX/CDN-for-itrhx.com@3.0.9/images/icp.png" style="width:18px;height:18px;margin-bottom:-2px" alt="ICP">
        <a href="http://www.beian.miit.gov.cn/" target="_blank" style="text-decoration:none;" onmouseover="this.style.cssText='color:#000000; text-decoration:none;'" onmouseout="this.style.cssText='color:#666666;text-decoration:none'">鄂ICP备19003281号-5</a>&nbsp;&nbsp;|&nbsp;
        <img src="https://cdn.jsdelivr.net/gh/TRHX/CDN-for-itrhx.com@3.0.9/images/moeicp.png" style="width:18px;height:18px;margin-bottom:-3px" alt="MOE ICP">
        <a href="https://icp.gov.moe/" target="_blank" style="text-decoration:none;" onmouseover="this.style.cssText='color:#000000; text-decoration:none;'" onmouseout="this.style.cssText='color:#666666;text-decoration:none'">萌ICP备20203344号</a>&nbsp;&nbsp;|&nbsp;
        <!-- 恋爱时间 -->
        <span id="timeDate">正在载入...</span><span id="times"><span><i class="fa fa-spinner fa-spin"> </i></span></span>
        <script>
            var now = new Date(); 
            function createtime() {
                var grt= new Date("10/09/2016 22:33:44");//恋爱时间(月/日/年 - 2016.10.9)
                now.setTime(now.getTime()+250); 
                days = (now - grt ) / 1000 / 60 / 60 / 24; dnum = Math.floor(days); 
                hours = (now - grt ) / 1000 / 60 / 60 - (24 * dnum); hnum = Math.floor(hours); 
                if(String(hnum).length ==1 ){hnum = "0" + hnum;} minutes = (now - grt ) / 1000 /60 - (24 * 60 * dnum) - (60 * hnum); 
                mnum = Math.floor(minutes); if(String(mnum).length ==1 ){mnum = "0" + mnum;} 
                seconds = (now - grt ) / 1000 - (24 * 60 * 60 * dnum) - (60 * 60 * hnum) - (60 * mnum); 
                snum = Math.round(seconds); if(String(snum).length ==1 ){snum = "0" + snum;} 
                document.getElementById("timeDate").innerHTML = " 我们已经相爱了 "
                document.getElementById("times").innerHTML = dnum +" 天 " + hnum + " 时 " + mnum + " 分 " + snum + " 秒"; 
                document.getElementById("times").style.color="#FF0000";
            }
            setInterval("createtime()",250);
        </script>
        <span style="color:#FF0000;"><i class="fa fa-heartbeat"></i></span>&nbsp;&nbsp;|&nbsp;
        <a href="/sitemap.xml" target="_blank" style="text-decoration:none;" onmouseover="this.style.cssText='color:#000000; text-decoration:none;'" onmouseout="this.style.cssText='color:#666666;text-decoration:none'">站点地图</a>&nbsp;&nbsp;|&nbsp;
        <script type="text/javascript">document.write(unescape("%3Cspan id='cnzz_stat_icon_1276030786'%3E%3C/span%3E%3Cscript src='https://s5.cnzz.com/z_stat.php%3Fid%3D1276030786%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script>
      </p>
    </div>
    </div>
  </div>
</footer>
<br>
<script type="text/javascript" src="https://cdn.jsdelivr.net/gh/TRHX/CDN-for-love109.cn@2.0.8/js/lib.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/clipboard@2/dist/clipboard.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/gh/TRHX/CDN-for-love109.cn@2.0.8/js/InsightSearch.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/gh/TRHX/CDN-for-love109.cn@2.0.8/js/jquery.fancybox.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/gh/TRHX/CDN-for-love109.cn@2.0.8/js/zoom.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/gh/TRHX/CDN-for-love109.cn@2.0.8/js/sakura-app.js"></script>
<div id="gitalk-container"></div>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.css">
<script type="text/javascript">
/* <![CDATA[ */
if (/Android|webOS|iPhone|iPod|BlackBerry/i.test(navigator.userAgent)) {
  var Poi = {"pjax":"<%- theme.pjax %>","movies":{"url": "<%- theme.movies.url %>","name":"<%- theme.movies.name%>","live":"close"},"windowheight":"fixed","codelamp":"close","ajaxurl":"","order":"asc","formpostion":"bottom"};
} else {
  var Poi = {"pjax":"<%- theme.pjax %>","movies":{"url": "<%- theme.movies.url %>","name":"<%- theme.movies.name%>","live":"open"},"windowheight":"auto","codelamp":"close","ajaxurl":"","order":"asc","formpostion":"bottom"};
}
/* ]]> */
</script>