<footer id="colophon" class="site-footer" role="contentinfo">
  <div class="site-info">
    <div class="footertext">
      <div class="img-preload">
        <img src="https://cdn.jsdelivr.net/gh/honjun/cdn@1.6/img/other/wordpress-rotating-ball-o.svg">
        <img src="https://cdn.jsdelivr.net/gh/honjun/cdn@1.6/img/other/disqus-preloader.svg">
      </div>
    </div>
      <p id="footer-sponsor">
        <a href="https://www.aliyun.com/" target="_blank"><img src="https://cdn.jsdelivr.net/gh/TRHX/CDN-for-love109.cn@2.0.7/images/logo/aliyun.png" style="height:2em; padding:0 15px 0 0;"></a>
        <a href="https://tongji.baidu.com/" target="_blank"><img src="https://cdn.jsdelivr.net/gh/TRHX/CDN-for-love109.cn@2.0.7/images/logo/baidu.png" style="height: 2.3em; padding:0 15px 0 0;"></a>
        <a href="https://www.google.com/" target="_blank"><img src="https://cdn.jsdelivr.net/gh/TRHX/CDN-for-love109.cn@2.0.7/images/logo/google.png" style="height: 2em; padding:0 15px 0 0;"></a>
        <a href="https://www.jsdelivr.com/" target="_blank"><img src="https://cdn.jsdelivr.net/gh/TRHX/CDN-for-love109.cn@2.0.7/images/logo/JSDELIVER.png" style="height: 2em; padding:0 15px 0 0;"></a>
        <a href="https://hexo.io/" target="_blank"><img src="https://cdn.jsdelivr.net/gh/TRHX/CDN-for-love109.cn@2.0.7/images/logo/hexo.png" style="height:2em; padding:0 15px 0 0;"></a>
        <a href="https://hexo.io/" target="_blank"><img src="https://cdn.jsdelivr.net/gh/TRHX/CDN-for-love109.cn@2.0.7/images/logo/coding.png" style="height:2em; padding:0 15px 0 0;"></a>
        <a href="https://www.github.com/" target="_blank"><img src="https://cdn.jsdelivr.net/gh/TRHX/CDN-for-love109.cn@2.0.7/images/logo/github.png" style="height: 2em;"></a><br>
      </p>
    
    <div class="footer-info">
      <p style=" margin-bottom: 1.0em; font-family: 'Ubuntu', sans-serif;">
        Copyright <i class="fa fa-copyright"></i> <%= date(new Date(), 'YYYY') %> <a href="https://www.love109.cn/" target="_blank" style="text-decoration:none;" onmouseover="this.style.cssText='color:#000000; text-decoration:none;'" onmouseout="this.style.cssText='color:#666666;text-decoration:none'">LOVE109❤️纪实小屋</a>&nbsp;&nbsp;|&nbsp;
        <img src="https://cdn.jsdelivr.net/gh/TRHX/CDN-for-itrhx.com@2.0.6/images/icp.png">&nbsp;
        <a href="http://www.beian.miit.gov.cn/" target="_blank" style="text-decoration:none;" onmouseover="this.style.cssText='color:#000000; text-decoration:none;'" onmouseout="this.style.cssText='color:#666666;text-decoration:none'">鄂ICP备19003281号-5</a>&nbsp;&nbsp;|&nbsp;
        <!-- 恋爱时间 -->
        <span id="timeDate">正在载入...</span><span id="times"><span><i class="fa fa-spinner fa-spin"> </i></span></span>
        <script>
            var now = new Date(); 
            function createtime() {
                var grt= new Date("10/09/2016 22:33:44");//恋爱时间(月/日/年 - 2016.10.9)
                now.setTime(now.getTime()+250); 
                days = (now - grt ) / 1000 / 60 / 60 / 24; dnum = Math.floor(days); 
                hours = (now - grt ) / 1000 / 60 / 60 - (24 * dnum); hnum = Math.floor(hours); 
                if(String(hnum).length ==1 ){hnum = "0" + hnum;} minutes = (now - grt ) / 1000 /60 - (24 * 60 * dnum) - (60 * hnum); 
                mnum = Math.floor(minutes); if(String(mnum).length ==1 ){mnum = "0" + mnum;} 
                seconds = (now - grt ) / 1000 - (24 * 60 * 60 * dnum) - (60 * 60 * hnum) - (60 * mnum); 
                snum = Math.round(seconds); if(String(snum).length ==1 ){snum = "0" + snum;} 
                document.getElementById("timeDate").innerHTML = " 我们已经相爱了 "
                document.getElementById("times").innerHTML = dnum +" 天 " + hnum + " 时 " + mnum + " 分 " + snum + " 秒"; 
                document.getElementById("times").style.color="#FF0000";
            }
            setInterval("createtime()",250);
        </script>
        <span style="color:#FF0000;"><i class="fa fa-heartbeat"></i></span>&nbsp;&nbsp;|&nbsp;
        <script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
        <span id="busuanzi_container_site_uv">UV：<span id="busuanzi_value_site_uv" style="color:#FF0000"></span>&nbsp;&nbsp;|&nbsp;
        <span id="busuanzi_container_site_pv">PV：<span id="busuanzi_value_site_pv" style="color:#FF0000"></span>
        <!--
        <a href="https://www.love109.cn/sitemap.xml" target="_blank" style="text-decoration:none;" onmouseover="this.style.cssText='color:#000000; text-decoration:none;'" onmouseout="this.style.cssText='color:#666666;text-decoration:none'">站点地图</a>&nbsp;&nbsp;|&nbsp;
        <a href="https://tongji.baidu.com/" target="_blank" style="text-decoration:none;" onmouseover="this.style.cssText='color:#000000; text-decoration:none;'" onmouseout="this.style.cssText='color:#666666;text-decoration:none'">站点统计</a>
        -->
      </p>
    </div>
    </div>
  </div>
</footer>
<br>
<script type="text/javascript" src="https://cdn.jsdelivr.net/gh/TRHX/CDN-for-love109.cn@2.0.7/js/lib.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/clipboard@2/dist/clipboard.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/gh/TRHX/CDN-for-love109.cn@2.0.7/js/InsightSearch.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/gh/TRHX/CDN-for-love109.cn@2.0.7/js/jquery.fancybox.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/gh/TRHX/CDN-for-love109.cn@2.0.7/js/zoom.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/gh/TRHX/CDN-for-love109.cn@2.0.7/js/sakura-app.js"></script>
<div id="gitalk-container"></div>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.css">
<script type="text/javascript">
/* <![CDATA[ */
if (/Android|webOS|iPhone|iPod|BlackBerry/i.test(navigator.userAgent)) {
  var Poi = {"pjax":"<%- theme.pjax %>","movies":{"url": "<%- theme.movies.url %>","name":"<%- theme.movies.name%>","live":"close"},"windowheight":"fixed","codelamp":"close","ajaxurl":"","order":"asc","formpostion":"bottom"};
} else {
  var Poi = {"pjax":"<%- theme.pjax %>","movies":{"url": "<%- theme.movies.url %>","name":"<%- theme.movies.name%>","live":"open"},"windowheight":"auto","codelamp":"close","ajaxurl":"","order":"asc","formpostion":"bottom"};
}
/* ]]> */

</script>