<div class="pattern-center-blank">
</div>
<div class="pattern-center ">
  <div class="pattern-attachment-img">
    <img src="<%= page.photos %>" src="<%- theme.lazyloadImg %>" data-src="<%= page.photos %>" class="lazyload" onerror="imgError(this,3)" style="width: 100%; height: 100%; object-fit: cover; pointer-events: none;">
  </div>
  <header class="pattern-header ">
    <h1 class="entry-title">
    友人帐 ● Friendly Link</h1>
  </header>
</div>
<div id="content" class="site-content">
  <article class="post-item post-301 page type-page status-publish has-post-thumbnail hentry">
    <h4>欢迎交换友链 ꉂ(ˊᗜˋ)，请留言告诉我你的：1、站点名字；2、站点头像；3、主页地址；4、主页简介。</h4>
    <table>
        <tr align="center">
            <td>站点名字</td>
            <td>LOVE109❤️纪实小屋</td>
        </tr>
        <tr align="center">
          <td>站点头像</td>
          <td><a href="https://www.love109.cn/images/love109.jpg">https://www.love109.cn/images/love109.jpg</a></td>
        </tr>
        <tr align="center">
          <td>主页地址</td>
          <td><a href="https://www.love109.cn/">https://www.love109.cn/</a></td>
        </tr>
        <tr align="center">
          <td>主页简介</td>
          <td>记录爱情❤️记录生活</td>
        </tr>
      </table>
    <hr color="#FF69B4" size="10pt">
    <h4>
      ※ 申请友链的站点必须遵循中华人民共和国相关法律法规，凡是违反<a href="www.nrta.gov.cn/art/2009/12/4/art_2060_36604.html" target="_blank">《互联网信息服务管理办法》</a>或其他法律法规的站点恕不接受友链<br><br>
      ※ 请需要申请友链的同学先添加本站为友链，谢谢！<br><br>
      ※ 本站“特别链接”内容来源于互联网，若不想单方面被添加为友情链接或者有侵权，请网站负责人联系我立即删除<br><br>
      ※ 本站不对其他站点任何内容负责<br><br>
      ※ 关于分类：虐狗博主都懂吧；文艺博主包含但不限于摄影、美学、文字、生活、设计等；技术博主主要倾向于IT相关技术；特别链接...反正就很特别；实用链接来源于互联网，包含但不限于实用工具、论坛博客等；分类排序不分先后<br><br>
      ※ 有一个小小的愿望，希望能找到所有的虐狗博主❤️😄
    </h4>
    <hr>
    <% if (page.links) { %>
      <div class="links">
        <% (page.links||[]).forEach(function (group, index) { %>
          <h3 class="link-title"><span class="fake-title"><%- index + 1 %>. <%- group.group %></span></h3>
          <% if (group.desc) { %>
            <div class="link-description"><%- group.desc %></div>
          <% } %>
          <ul class="link-items fontSmooth">
            <% (group.items||[]).forEach(function (item) { %>
              <li class="link-item">
                <a class="link-item-inner effect-apollo" href="<%- item.url %>" title="<%- item.desc %>" target="_blank" rel="friend">
                  <img class="lazyload" onerror="imgError(this,1)" src="<%- theme.lazyloadImg%>" data-src="<%- item.img %>" src="<%- item.img %>">
                  <span class="sitename">
                  <%- item.name %></span>
                  <div class="linkdes">
                  <%- item.desc %></div>
                </a>
              </li>
            <% }) %>
          </ul>
        <% }) %>
      </div>
      <div style="text-align:center;"><a href="https://www.foreverblog.cn/" target="_blank" rel="nofollow"><img src="https://cdn.jsdelivr.net/gh/TRHX/ImageHosting/LOVE-LINKS/foreverblog.png" width="auto" height="auto"; alt="十年之约" title="十年之约"></a></div>
    <% } %>
    <%- partial('_partial/comment', {post: page})  %>
    <div class="social-share show-share share-component"></div>
    </footer><!-- .entry-footer -->
  </article>
  <section class="author-profile">
    <div class="info" itemprop="author" itemscope="" itemtype="https://schema.org/Person">
      <a href="/about/" class="profile gravatar"><img src="<%- (theme.cdn || '') + theme.avatar%>" itemprop="image" alt="hojun" height="70" width="70"></a>
      <div class="meta">
        <span class="title">Author</span>
        <h3 itemprop="name">
        <a href="<%- theme.url%>" itemprop="url" rel="author"><%- config.author %></a>
        </h3>
      </div>
    </div>
    <hr>
    <p><i class="iconfont icon-write"></i><%- theme.description%></p>
  </section>
</div>